/* Stylesheet voor KO Clicker */

body{
	background-image:url("background.jpg");
  text-align:center;
  margin-top:50px;
  background-color: #fff
}


#footer{
	font-family: ff-enzo-web, helvetica, sans-serif;
	position:absolute;
	text-align:right;
  	bottom:0;
  	width:99%;
  	margin: 2px;
  	height:60px;   /* Height of the footer */
}

.shop {
    opacity: 0.7;
    padding: 10px;
    margin: 0 auto;
    width:200px;
    text-align:left;
    border:1px dashed #333;
    box-shadow : 5px 5px 5px #888887;
    background-color:#fff;
    border:solid 1px #c3c3c3;
}
#str, #def, #spd, #agl{
  opacity:0.8;
  margin-bottom: 10px;
  margin-left: 10px;
}

#str:active, #def:active, #spd:active, #agl:active{
  opacity:1;
  
-webkit-box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
}

#weapons, #glove {
    display: none;
}

#stats {
  background-color: #fff;
  opacity: 0.7;
  margin-top: 50px;
  box-shadow : 5px 5px 5px #888887;
  padding-left: 20px;
  padding-right: 50px;
    position: fixed;
    top: 1em;
    right: 3em;
	text-align: left;
}