/* Stylesheet voor KO Clicker */

body{
	background-color: #CDDCEE;
}


#footer{
	font-family: ff-enzo-web, helvetica, sans-serif;
	position:absolute;
	text-align:right;
  	bottom:0;
  	width:99%;
  	margin: 2px;
  	height:60px;   /* Height of the footer */
}

.shop {
    padding: 5px;
    text-allign: center;
    background-color:#e5eecc;
    border:solid 1px #c3c3c3;
    width: 50%;
}

#weapons, #glove {
    display: none;
}
